*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    
    background-color: #f1f1f1;
    font-family: "inter" Arial, Helvetica, sans-serif;
    width: 1000px;
    height: 300px;
    padding: 0px;
    margin: auto;
    max-width: 1000px;
 }
#header {
    display: flex;
    gap: 20px;
    background-color: #4098f7;
    padding: 10px;
    padding: 10px;
    border: 5px ;
    margin: auto;

    
}
#nome  h1 { 
    font-size: 50px;
    font: bold;
    color: white;
    margin-top: 50px;
    padding-top: 30px;
    
}
#nome h4 {
    font-size: 20px;
    font: bold;
    color: white;
}

#dados p {
    font-size: 20px;
    font: bold;  
    color: white;
    
    

}
#dados a {
    color: white;
    text-decoration: none;
    
    
    &:hover {
        color: black;
    }

}
#foto img {
    width: 250px;
    height: 250px;
    border-radius: 300px;
    margin-top: 10px;
    align-items: center;

} 
 
#conteudo {
    padding: 0 100px;
    background-color: white;
    height: auto;
    
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;

}
#experiencias h3,
#formacao h3 {
    padding-top: 20px;
    font: bold;
    
}
li {
    list-style: none;
}
#experiencias h5, 
#formacao h5{
    padding-top: 10px;
}

#sobre-mim {
    margin:0px 10px 20px 0px;
}
#sobre-mim h2 {

   font-size: 50px;
   color: #004ADB;
    margin: 0px 0px 20px 0;
}
#endereco {
    text-align: right;
    padding: 10px;
    margin-top: 20px;
    
}
#nome {
    padding: 10px;
}
#experiencias h1,
#formacao h1,
#interesses h1,
#linguas h1
 {
    font-size: 30px;
    font: bold;
    color: #004ADB;
}

@media (max-width: 768px) {
    body {
        padding: 0 20px; 
    }

    #nome h1 {
        font-size: 35px; 
    }

    #foto img {
        width: 150px;
        height: 150px; 
    }
    #header {
        justify-content: space-around;
        text-align: center;
    }

    .container {
        grid-template-columns: 1fr; 
    }

    #sobre-mim h2 {
        font-size: 40px; 
    }

    #experiencias h1,
    #formacao h1,
    #interesses h1,
    #linguas h1 {
        font-size: 25px; 
    }
    #linguas, 
    #interesses {
        display: grid;
    }
}

