*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    
    background-color: #f1f1f1;
    font-family: "Inter", sans-serif;
    width: 1000px;
    height: 300px;
    padding: 0px;
    margin: auto;
    max-width: 1000px;
 }
#header {
    width: 100%;
    height: 300px;
   background-color: #B17457;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    padding: 0 50px;
    font-size: 14px;
    font-weight: 200;

    
}
#nome  h1 { 
    font-size: 50px;
    font: bold;
    color: white;
    padding: 10px;
    
}
#nome h4 {
    font-size: 20px;
    font: bold;
    color: white;
}

#dados p {
    font-size: 20px;
    font: bold;  
    color: white;
    
    

}
#contato {
    text-align: end;
    color: white;
}

#contato a {
    text-decoration: none;
    color: white;
}
#contato a:hover {
    color: #220000;
    text-decoration: solid;
}
#nome h1 a {
    text-decoration: none;
    color: white;
}

#nome h1 a:hover {
    text-decoration: solid;
    color: #220000;
}
#header img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 2px solid white;
  }
 
#conteudo {
    padding: 0 100px;
    background-color: #D8D2C2;
    height: auto;
    
    
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
   

}
#experiencias h3,
#formacao h3 {
    font: bold;
    color: #451d15;
}
li {
    list-style: none;
}
#experiencias h4, 
#formacao h4{
    padding-top: 10px;
    color: #451d15;
    
}

#experiencias p  {
    padding-bottom: 10px;
    color: #451d15;
}
#sobre-mim {
    margin:0px 10px 20px 0px;
}
#sobre-mim h1 {

   font-size: 50px;
   color: #451d15;
    padding: 15px 0;
}
#endereco {
    text-align: right;
    padding: 10px;
    margin-top: 20px;
    
}
#nome {
    padding: 10px;
}
#experiencias h1, #formacao h1, #interesses h1, #linguas h1 {
    font-size: 30px;
    font: bold;
    color: #451d15;
    
}

